td {
    font-family: Monospace;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
}

.background0 {
    background-color: #ffe7ba;
}

.background2 {
    background-color: #fdd487;
}

.background4 {
    background-color: #ffc455;
}

.background8 {
    background-color: #ffa600;
}

.background16 {
    background-color: #ff8400;
}

.background32 {
    background-color: #ff6000;
}

.background64 {
    background-color: #ff6464;
}

.background128 {
    background-color: #ff4a4a;
}

.background256 {
    background-color: #ff0000;
}

.background512 {
    background-color: #d20000;
}

.background1024 {
    background-color: #8e0000;
}

.background {
    background-color: #000000;
}

.background-generated {
    background-color: green;
}

/* td {
    font-family: Monospace;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    height: 100px;
    color: white;
}

td.generated {
    font-family: Monospace;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    height: 100px;
    color: white;
} */

#table {
    margin: 0 auto;
}
