td {
    font-family: Monospace;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
}

.background0 {
    background-color: #ffe7ba;
}

.background2 {
    background-color: #ffe7ba;
}

.background4 {
    background-color: #ffe7ba;
}

.background8 {
    background-color: #ffe7ba;
}

.background16 {
    background-color: #ffe7ba;
}

.background32 {
    background-color: #ffe7ba;
}

.background64 {
    background-color: #ffe7ba;
}

.background128 {
    background-color: #ffe7ba;
}

.background256 {
    background-color: #ffe7ba;
}

.background512 {
    background-color: #ffe7ba;
}

.background1024 {
    background-color: #ffe7ba;
}

.background2048 {    
    background-color: #ffe7ba;
}

td.empty {
    font-family: Monospace;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    height: 100px;
    color: white;
}

td.generated {
    font-family: Monospace;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
}

#table {
    margin: 0 auto;
}
